.regulamento2 {
    width: 100%;
    height: 330px;
    overflow: hidden;
    position: relative;
    border: 2px solid #0099A8;
    padding: 12px;
    margin-top: 154px;
}
.regulamento-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    padding: 12px;
}
.regulamento-container p {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}
.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    background-color: #0099A8 !important;
}
.posicoes {
    margin: 0px;
    padding: 0px;
    margin-top: 50px;
}
.posicoes li {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #B7E6E8;
    color: #FFF;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
}
.posicoes li.atual {
    background: #0099A8 !important;
}
.imagem {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 80%;
    background: #FFF;
    padding: 10px;
}
.principal {
    margin-top: 100px;
}
#filters {
margin: 0px;
padding: 0px;
}
#filters li {
    display: inline-block;
    width: 48%;
    margin-left: 1%;
    height: 170px;
    text-align: center;
    font-size: 16px;
    font-family: 'CenturyGothic';
    position: relative;
    margin-bottom: 20px;
    color: #FFF;
    text-transform: uppercase;

}
#filters li span {
    width: 100%;
    text-align: center;
    position: relative;
    left: 0px;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}
#filters li a {
    color: #000;
}
.jwc_frame, .jwc_image {
    transition: none !important;
    -webkit-transition: none !important;
}
.container-imagem-etapa2 {
    float: left;
    display: inline;
    width: 500px;
    position: relative;
    overflow: hidden;
}
.container-sticker {
    position: absolute !important;
    left: 0px;
    top: 0px;
    transition: none !important;
    -webkit-transition: none !important;
    cursor: move;
    padding: 6px;
}
.container-sticker.visivel {
    border: 1px dashed #CCC;
}
.container-sticker.visivel .ui-rotatable-handle {
    display: block !important;
}
.container-sticker.visivel .ui-resizable-se {
    display: block !important;
}
.container-sticker img {
    width: 100%;
    height: 100%;
}
.ui-rotatable-handle {
    width: 28px;
    height: 38px;
    background: url("../img/icone-drag.png") no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: -14px;
    margin-top: -20px;
    display: none !important;
}
.notifyjs-wrapper {
    z-index: 100 !important;
}
.notifyjs-wrapper *, ..notifyjs-wrapper {
    transition: none !important;
    -webkit-transition: none !important;
}
.ui-resizable-se {
    width: 16px !important;
    height: 16px !important;
    background: url("../img/icone-resize.png") no-repeat !important;
    background-position: 0px !important;
    background-size: 100% !important;
    display: none !important;
}
.btn-remover-sticker {
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: -20px;
    margin-right: -20px;
    width: 30px;
    height: 30px;
    background: url("../img/icone-fechar.png") no-repeat !important;
    background-size: 100% !important;
}
.lista-final {
    margin: 0px;
    padding: 0px;
    float: left;
    display: inline;
    width: 100%;
    clear: both;
}
.lista-final li {
    float: left;
    display: inline;
    width: 100%;
    clear: both;
}
.lista-final li a {
    float: left;
    display: inline;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #FFF;
    background: #0099A8;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'CenturyGothic';
    font-size: 20px;
    text-decoration: none;
    margin-top: 14px;
}
.lista-final li a:hover {
    opacity: 0.5 !important;
}
.ul-stickers {
    margin: 0px;
    padding: 0px;
}
.ul-stickers li {
    display: inline-block;
    width: 49%;
    height: 150px;
    text-align: center;
}
.container-imagem-etapa2 .img-responsive {
    position: relative;
    z-index: 1;
}
.jwc_zoom_in, .jwc_zoom_out {
    display: none;
}