.formulario input[type="text"] {
    background: transparent !important;
    border: 2px solid #0099A8;
    border-radius: 0px !important;
}
::-webkit-input-placeholder {
   color: #0099A8 !important;
   font-family: 'CenturyGothic';
   text-transform: uppercase;
}
:-moz-placeholder {
   color: #0099A8 !important;
   font-family: 'CenturyGothic';
   text-transform: uppercase;
}
::-moz-placeholder {
   color: #0099A8 !important;
   font-family: 'CenturyGothic';
   text-transform: uppercase;
}
:-ms-input-placeholder {
   color: #0099A8 !important;
   font-family: 'CenturyGothic';
   text-transform: uppercase;
}
.formulario label.checkbox {
    font-weight: normal;
   font-family: 'CenturyGothic';
   font-size: 13px;
   padding-left: 16px;
}
.formulario label.checkbox input {
    margin-left: -18px !important;
}
.formulario input[type="text"]:focus {
    background: #67D0D1 !important;
    border-color: #67D0D1 !important;
    color: #FFF !important;
    box-shadow: none !important;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}
label.error {
  color: red;
  font-weight: bold;
  font-size: 10px;
  margin-top: 4px;
}